# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Mac system file
.DS_Store

# Build and dist folders
build/
dist/

# Optional: test coverage or debug folders
coverage/
.vscode/
